" Doco
"
" https://github.com/JetBrains/ideavim/wiki/set-commands
" https://github.com/JetBrains/ideavim/blob/master/doc/IdeaVim%20Plugins.md
" https://github.com/TheBlob42/idea-which-key
"
"
" Examples:
" https://github.com/JetBrains/ideavim/discussions/303
" https://github.com/citizenmatt/dotfiles/blob/master/ideavimrc -- GOOD
"
" https://gist.github.com/dewaka/ef947e52767bf453eaf77c852051eb7e

set clipboard+=ideaput " allow pasting from the IDEA clipboard
set clipboard+=unnamed " yank to the system clipboard
set ideajoin
set ignorecase
set incsearch
set noerrorbell
set notimeout
set scrolloff=10
set smartcase
set timeoutlen=3000
set visualbell
"set hlsearch

"set which-key
"let g:WhichKey_FontSize = 20

let mapleader=","

nmap [[ :action MethodUp<CR>
nmap ]] :action MethodDown<CR>
nnoremap ya :%y<CR>

" By setting <C-[> as an IDEA shortcut as a synonym for ESC, I'm able to use this binding
" to dismiss dialogs, and adding this mapping in .ideavimrc allows me to also use it in the
" editor as well.
inoremap <C-[> <Esc>
imap <C-s> <Esc><Action>(SaveAll)
inoremap <c-e> <Esc>A

nmap <C-8> <Action>(HideAllWindows)
nmap <C-h> <Action>(RecentFiles)
nmap <C-i> <Action>(Forward)
nmap <C-j> <Action>(NextOccurence)
nmap <C-k> <Action>(PreviousOccurence)
nmap <C-o> <Action>(Back)
nmap <C-s> <Action>(SaveAll)
nmap <M-j> <Action>(NextTab)
nmap <M-k> <Action>(PreviousTab)
nmap <leader>R <Action>(IdeaVim.ReloadVimRc.reload)
nmap <leader>al :actionlist<CR>
nmap <leader>ar <Action>(RenameElement)
nmap <leader>ch <Action>(CallHierarchy)
nmap <leader>da <Action>(EditorPopupMenuDebug)
nmap <leader>dd <Action>(Debug)
nmap <leader>dep <Action>(ShowExecutionPoint)
nmap <leader>fs <Action>(FindInPath)
nmap <leader>gb <Action>(Annotate)
nmap <leader>gcb <Action>(Git.CompareWithBranch)
nmap <leader>gf <Action>(GotoFile)
nmap <leader>hw <Action>(ActivateHierarchyToolWindow)
nmap <leader>oog <Action>(OpenEditorInOppositeTabGroup)
nmap <leader>rc <Action>(RunClass)
nmap <leader>rr <Action>(Run)
nmap <leader>sa <Action>(GotoAction)
nmap <leader>sc <Action>(GotoClass)
nmap <leader>se <Action>(SearchEverywhere)
nmap <leader>sf <Action>(GotoFile)
nmap <leader>ss <Action>(GotoSymbol)
nmap <leader>taid <Action>(VimFindActionIdAction)
nmap <leader>tb <Action>(ToggleBookmark)
nmap <leader>th <Action>(TypeHierarchy)
nmap <leader>ti <Action>(ToggleInlayHintsGloballyAction)
nmap <leader>tw <Action>(EditorToggleUseSoftWraps)
nmap <leader>twh <Action>(ActivateHierarchyToolWindow)
nmap K <Action>(ShowHoverInfo)
nmap gT <Action>(GotoTest)
nmap g[ <Action>(PreviousOccurence)
nmap g] <Action>(NextOccurence)
nmap ga <Action>(ShowIntentionActions)
nmap gb <Action>(ShowBookmarks)
nmap gh <Action>(ShowErrorDescription)
nmap gwh <Action>(ActivateHierarchyToolWindow)
nmap gi <Action>(GotoImplementation)
nmap gn <Action>(NextOccurence)
nmap gp <Action>(PreviousOccurence)
nmap gs <Action>(FileStructurePopup)
nmap gu <Action>(GotoSuperMethod)
nmap gy <Action>(GotoTest)
nmap tn <Action>(NextSplitter)
nmap tp <Action>(PrevSplitter)

" nmap <C-w> <Action>(ExtendSelection)

nnoremap <leader>R :action IdeaVim.ReloadVimRc.reload<CR>
nnoremap <leader>h :action HideActiveWindow<CR> " buggy
nnoremap <leader>q :action CloseContent<CR>
nnoremap gR :action FindUsages<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gen :action GotoNextError<CR>
nnoremap gep :action GotoPreviousError<CR>
nnoremap gr :action ShowUsages<CR>
nnoremap gt :action GotoTypeDeclaration<CR>

map Q gq

" --- IdeaVim plugins https://jb.gg/ideavim-plugins

Plug 'preservim/nerdtree'
nmap F :NERDTreeFind<CR>
Plug 'machakann/vim-highlightedyank'
Plug 'justinmk/vim-sneak' " [sS] + two chars. ; and , to navigate
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
