" Doco
"
" https://github.com/JetBrains/ideavim/wiki/set-commands
" https://github.com/JetBrains/ideavim/blob/master/doc/IdeaVim%20Plugins.md
" https://github.com/TheBlob42/idea-which-key
"
" Examples:
" https://github.com/JetBrains/ideavim/discussions/303
" https://github.com/citizenmatt/dotfiles/blob/master/ideavimrc -- GOOD
"
" Try using nmap instead of nnoremap if a command is buggy.

" yank to the system clipboard
set clipboard+=unnamed
" allow pasting from the IDEA clipboard
set clipboard+=ideaput

set visualbell
set noerrorbell
set timeoutlen=3000
set notimeout
set ideajoin
set scrolloff=10
set incsearch
"set hlsearch
set smartcase
set ignorecase

"set which-key
"let g:WhichKey_FontSize = 20

let mapleader=","

" nnoremap <C-s> I want to map C-s to save.

" TODO:
" Use <Action> instead of :action: https://github.com/JetBrains/ideavim

nmap [[ :action MethodUp<CR>
nmap ]] :action MethodDown<CR>
nnoremap ya :%y<CR>

" By setting <C-[> as an IDEA shortcut as a synonym for ESC, I'm able to use this binding
" to dismiss dialogs, and adding this mapping in .ideavimrc allows me to also use it in the
" editor as well.
inoremap <C-[> <Esc>

nnoremap tn :action NextTab<CR>
nnoremap tp :action PreviousTab<CR>
nnoremap <leader>h :action HideActiveWindow<CR> " buggy
nnoremap <leader>q :action CloseContent<CR>

imap <C-s> <Esc><Action>(SaveAll)
nmap <C-s> <Action>(SaveAll)
nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)

nmap <leader>hw <Action>(ActivateHierarchyToolWindow)
nmap <leader>twh <Action>(ActivateHierarchyToolWindow)

nmap <leader>R <Action>(IdeaVim.ReloadVimRc.reload)
nmap <leader>ar <Action>(RenameElement)
nmap <leader>ch <Action>(CallHierarchy)
nmap <leader>fs <Action>(FindInPath)
nmap <leader>gb <Action>(Annotate)
nmap <leader>gf <Action>(GotoFile)
nmap <leader>oog <Action>(OpenEditorInOppositeTabGroup)
nmap <leader>rc <Action>(RunClass)
nmap <leader>rr <Action>(Run)
nmap <leader>dd <Action>(Debug)
nmap <leader>sa <Action>(GotoAction)
nmap <leader>sc <Action>(GotoClass)
nmap <leader>se <Action>(SearchEverywhere)
nmap <leader>sf <Action>(GotoFile)
nmap <leader>ss <Action>(GotoSymbol)
nmap <leader>th <Action>(TypeHierarchy)

" debugging
" show debug actions
nmap <leader>da <Action>(EditorPopupMenuDebug)
" show execution point (where we are breakpointed)
nmap <leader>dep <Action>(ShowExecutionPoint)

" toggles
nmap <leader>tw <Action>(EditorToggleUseSoftWraps)
nmap <leader>ti <Action>(ToggleInlayHintsGloballyAction)
nmap <leader>tb <Action>(ToggleBookmark)
nmap <leader>taid <Action>(VimFindActionIdAction)

" git
nmap <leader>gcb <Action>(Git.CompareWithBranch)

nmap gT <Action>(GotoTest)
nmap gy <Action>(GotoTest)
nmap gs <Action>(FileStructurePopup)
nmap ga <Action>(ShowIntentionActions)
nmap gu <Action>(GotoSuperMethod)
nmap gi <Action>(GotoImplementation)
nmap gb <Action>(ShowBookmarks)

nmap g[ <Action>(PreviousOccurence)
nmap g] <Action>(NextOccurence)
nmap <M-j> <Action>(NextOccurence)
nmap <M-k> <Action>(PreviousOccurence)

nmap gh <Action>(ShowErrorDescription)
"nmap K <Action>(QuickJavaDoc)
nmap K <Action>(ShowHoverInfo)
nmap <C-8> <Action>(HideAllWindows)
nmap <C-h> <Action>(RecentFiles)

nnoremap <leader>R :action IdeaVim.ReloadVimRc.reload<CR>

nnoremap gd :action GotoDeclaration<CR>
nnoremap gt :action GotoTypeDeclaration<CR>
nnoremap gn :action GotoNextError<CR>
nnoremap gp :action GotoPreviousError<CR>
nnoremap gr :action ShowUsages<CR>
nnoremap gR :action FindUsages<CR>

" inoremap jk <Esc>
inoremap <c-e> <Esc>A

" NERDTREE Config
Plug 'preservim/nerdtree'
" nmap F :NERDTreeFocus<CR>
nmap F :NERDTreeFind<CR>

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.


" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

Plug 'machakann/vim-highlightedyank'
Plug 'justinmk/vim-sneak' " [sS] + two chars. ; and , to navigate
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
" Plug 'michaeljsmith/vim-indent-object'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

